---
layout: new
title: "UserFrosting | Tutorials | Upgrading from 0.3.0 to 0.3.1"
---

<header class="breadcrumb-header">
    {% include version-menu.html %}
    <div class="container">    
        <ol class="breadcrumb">
            <li><a href="{{site.url}}/">Home</a></li>
            <li><a href="{{site.url}}/#get-started">Getting Started</a></li>
            <li><a href="{{site.url}}/tutorials">Tutorials</a></li>
            <li class="active">Upgrading from 0.3.0 to 0.3.1</li>
        </ol>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Upgrading from 0.3.0 to 0.3.1</h1>
                <hr class="star-primary">
            </div>
        </div>
    </div>
</header>

<div class="container">
    <section class="tutorial">
        <p>This tutorial describes how user fields are added and to a certain extent the general idea behind the different steps.</p>
        <h2><a id="1_Adding_a_new_column_to_the_table_in_the_database_2"></a>1. Adding a new column to the table in the database</h2>
        <p>As all user fields are stored in a table, I figured it might be a good idea to start by adding a new column to the right table in the SQL database. All user information such as passwords etc. are stored in the table <code>user</code> with the corresponding prefix. I left the standard settings so the table is called uf_users in my case.</p>
        <p>I want to add a column called "comment", which should be text and by default empty. Adding columns to databases is beyond the scope of this tutorial. However, the SQL code I used is the following:</p>
        <pre><code>ALTER TABLE `uf_user` ADD `comment` TEXT NULL DEFAULT NULL AFTER `password`;
        </code></pre>
        <h2><a id="2_Registering_the_new_column_10"></a>2. Registering the new column</h2>
        <p>Following <a href="http://www.userfrosting.com/tutorials/lesson-3-data-model/">tutorial 3</a> on the official userfrosting page, all tables with their corresponding columns have to be registered in <code>userfrosting/initialize.php</code>.</p>
        <p>In the <code>initialize.php</code>, I found the bit of code that registers the user table and added my "comment" column:</p>
        <pre><code>$table_user = new \UserFrosting\DatabaseTable($app->config('db')['db_prefix'] . "user", [
            "user_name",
            "display_name",
            "email",
            "title",
            "locale",
            "primary_group_id",
            "secret_token",
            "flag_verified",
            "flag_enabled",
            "flag_password_reset",
            "created_at",
            "updated_at",
            "password",
            "comment"
        ]);
        </code></pre>
        <h2><a id="3_Interaction_with_the_new_column_33"></a>3. Interaction with the new column</h2>
        <p>After registering the column, you are already able to access the comment column and, by way of example, echo the comment for one specific user:</p>
        <p><code>echo user::where('id', $this->_app->user->id)->select('comment')->first();</code></p>
        <p>However, UF comes with a variety of public functions in the UserController class which can be found in <code>/userfrosting/controllers/UserController.php</code>. What each public function does is described in comments in the <code>UserController.php</code>. You can decide what users or administrators should be able to do with that new column.</p>
        <p>I want the individual user and root to view and edit comments. In order to do that, I edited the line where the <code>fields</code> variable is set in the public function pageUser and formUserEdit to look like that:</p>
        <p><code>$fields = ['display_name', 'email', 'title', 'locale', 'groups', 'primary_group_id', 'comment'];</code></p>
        <p>To actually have the column show somewhere we also need to include the new column in the correct twig files. This part is a bit tricky because the public function pageUser renders the user-info.twig file wich in turn includes some other twig files. The one you acutally want to edit is the <code>/userfrosting/templates/themes/default/components/common/user-info-form.twig</code></p>
        <p>In to order to make the comment column show, I added the following:</p>
        <pre><code>    {% if 'comment' not in fields.hidden %}             
            <div class="col-sm-6">
                <div class="form-group ">
                    <label>Comment</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                        <input type="text" class="form-control" name="comment" autocomplete="off" value="{{target_user.comment}}" placeholder="" {% if 'title' in fields.disabled %}disabled{% endif %}>
                    </div>
                </div>
            </div>
            {% endif %}
        </code></pre>
        <h2><a id="4_Validating_the_submitted_input_62"></a>4. Validating the submitted input</h2>
        <p>Input validation in UF is handled by <a href="https://github.com/alexweissman/fortress">Fortress</a> and was described further in <a href="http://www.userfrosting.com/tutorials/lesson-2-process-form/">tutorial 2</a> on the official userfrosting page.</p>
        <p>I added to the <code>/userfrosting/schema/forms/user-update.json</code> the following lines:</p>
        <pre><code>    "comment" : {
                "validators" : {
                    "length" : {
                        "max" : 200,
                        "message" : "Comment has to be shorter than 200 characters."
                    }
                }
            },
        </code></pre>
        <p>If you now log in as root, go to users and select any given user, you will be able to view and edit the "comment" field.</p>
        <h2><a id="5_Adding_the_new_column_as_a_field_to_the_account_settings_80"></a>5. Adding the new column as a field to the account settings</h2>
        <p>To allow the user to view and edit the comment column in his account settings, you have to do two things. Firstly, you need to add a field to the <code>/userfrosting/templates/themes/default/account/account-settings.twig</code> file.</p>
        <p>In my case, I added the following:</p>
        <pre><code>                        {% if checkAccess('update_account_setting', {('user'): user, ('property'): 'comment'}) %}
                                <div class="form-group">
                                    <label for="input_display_comment" class="col-sm-4 control-label">Comment</label>
                                    <div class="col-sm-8">
                                        <input type='text' id="input_display_comment" class="form-control" name="comment" value='{{user.comment}}'>
                                        <p class="help-block">A comment</p>
                                    </div>
                                </div>
                                {% endif %}
        </code></pre>
        <p>As you can see, it checks whether the user has the permission to alter the "comment" column. The permissions are stored in authorize_group table with the corresponding prefix. You can edit it there manually or you can log in as root and go to "Configuration" -> "Groups" -> Click "Actions" on the default primary group (or whatever you want it to be) -> "Authorization rules" ->  Click "Actions" on the "update_account_settings" hook -> "Edit rule" -> change it to:</p>
        <pre><code>"equals(self.id, user.id)&&in(property,["email","locale","password","comment"])"
        </code></pre>
        <p>And you are set. The root user as well as the individual user can now view and edit the new "comment" column.</p>
    </section>
</div>
